<h2>{{teacher.firstName}}{{teacher.lastName}} details</h2>

<hr/>
<div *ngIf="teacher">
  <div>
    <label><b>First Name: </b></label> {{teacher.firstName}}
  </div>
  <br>
  <div>
    <label><b>Last Name: </b></label> {{teacher.lastName}}
  </div>
  <br>
  <div>
    <label><b>Email: </b></label> {{teacher.email}}
  </div>
  <br>
  <div>
    <label><b>Courses: </b></label>
    <tr *ngFor="let course of teacher.coursesDto">
      <p><td>Name : {{course.name}}</td>
      <p><td>ECTS : {{course.ects}}</td>
      <td><button (click)="studentService.getStudentsOfCourse2(course.id)" [routerLink]="['/students/courses/'+course.id]" class="btn btn-default">Details</button>
      </td>
      <a [routerLink]="[course.id]">See the list of your students</a>
      <br>
    </tr>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Teachers List</button><br>
