<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Students List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | async">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}
        <td>{{student.email}}</td>
        <!--<td><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
        </td>-->
        <td><button (click)="getStudent(student.id)" [routerLink]="[student.id]" class="btn btn-default">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
