<br>
<br>
<div class="panel panel-primary" style="background-color: #AED6F1; border-color:#AED6F1">
  <div class="panel-heading" style="background-color: #AED6F1; border-color:#AED6F1">
    <h2>List of students</h2>
  </div>
  <p class="research">Research bar :
  <input [(ngModel)]="filterStudentFirstName" placeholder="Enter a name ..."></p>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr class="title">
        <th>First name</th>
        <th>Last name</th>
        <th>Mail</th>
        <th>Semester result</th>
      </tr>
      </thead>
      <tbody>
      <tr class="list" *ngFor="let student of students | filterStudentByFirstName:filterStudentFirstName">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}
        <td>{{student.email}}</td>

        <div *ngIf="student.accepted===true ; else elseBlock">
          <td class="acc">Is Accepted</td>
        </div>
        <ng-template #elseBlock>
          <td class="notacc">Is not Accepted</td>
        </ng-template>


        <td><button (click)="getStudent(student.id)" [routerLink]="[student.id]" class="btn btn-default" style="background-color: #014336; color: white">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
