<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Students List</h2>
  </div>
  <input [(ngModel)]="filterStudentFirstName">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Mail</th>
        <th>Semester result</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | filterStudentByFirstName:filterStudentFirstName">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}
        <td>{{student.email}}</td>

        <div *ngIf="student.accepted===true ; else elseBlock">
          <td style="color: green">Is Accepted</td>
        </div>
        <ng-template #elseBlock>
          <td style="color: red">Is not Accepted</td>
        </ng-template>


        <td><button (click)="getStudent(student.id)" [routerLink]="[student.id]" class="btn btn-default">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
