<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink=""> Main page </a></li>
      <li routerLinkActive="active"><a routerLink="students"> Students </a></li>
      <li routerLinkActive="active"><a routerLink="teachers"> Teachers </a></li>
      <li routerLinkActive="active"><a routerLink="courses"> Courses </a> </li>

    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

