
<h1 class="display-4">Semestrial Result Repository</h1>
<br>

<div class="jumbotron" style="background-color: #F9E79F">
  <p class="lead">Teachers you want to see more of your students ?</p>
  <li routerLinkActive="active">
    <a class="btn btn-warning" href="#" role="button" routerLink="teachers">Teachers, Click here !</a>
</div>

<div class="jumbotron" style="background-color: #7DCEA0">
    <p>Students, you want to know your results ?</p>
  <li routerLinkActive="active">
    <button type="button" class="btn btn-light" href="#" routerLink="students">Students, Click here !</button>
</div>

