<br>
<br>
<h1 class="display-4">Semestrial Results</h1>
<br>
<br>

<div class="jumbotron" style="background-color: #F9E79F">
  <p class="lead">Teachers, to see the list of your courses and the results of your students</p>
  <li routerLinkActive="active">
    <a class="btn btn-warning" href="#" role="button" routerLink="teachers">Click here !</a>
</div>

<div class="jumbotron" style="background-color: #AED6F1">
    <p>Students, to see your semestrial result</p>
  <li routerLinkActive="active">
    <button type="button" class="btn btn-primary" href="#" routerLink="students">Click here !</button>
</div>

