<h1 class="display-4">Welcome to the semestrial results !</h1>

<div class="jumbotron">
  <p class="lead">Teachers you want to see more of your students ?</p>
  <li routerLinkActive="active">
    <a class="btn btn-warning" href="#" role="button" routerLink="teachers">Teacher, Click here !</a>
  <hr class="my-4">
  <p>Students, you want to know your results ?</p>
  <li routerLinkActive="active">
  <a class="btn btn-success" href="#" role="button" routerLink="students">Student, Click here !</a>
</div>
