.title {
  color: #014336;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  color: #014336;
}

.notacc {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.acc {
  color: green;
  font-weight: bold;
  font-size: 25px;
}
