<h2>Details</h2>

<hr/>
<div *ngIf="student">
  <div>
    <label class="title">First Name: </label> {{student.firstName}}
  </div>
  <br>
  <div>
    <label class="title">Last Name: </label> {{student.lastName}}
  </div>
  <br>
  <div>
    <label class="title">Email: </label> {{student.email}}
  </div>
  <br>
</div>

<div class="col-sm-5">
<div class="panel panel-primary" style="background-color: #7DCEA0; border-color:#7DCEA0">
  <div class="panel-heading" style="background-color: #7DCEA0; border-color:#7DCEA0">
    <h3>List of courses of the semester</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr class="title">
        <th>Title</th>
        <th>ECTS</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of student.coursesDto index as i">
        <td>{{course.name}}</td>
        <td>{{course.ects}}</td>
        <div *ngIf="student.validations[i]===true ; else elseBlock">
          <td class="acc">Validated</td>
        </div>
        <ng-template #elseBlock>
          <td class="notacc">Not validated</td>
        </ng-template>
        <br>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


<div class="col-sm-5">
  <div class="panel panel-primary" style="background-color: #7DCEA0; border-color:#7DCEA0">
    <div class="panel-heading" style="background-color: #7DCEA0; border-color:#7DCEA0">
<div class="col-sm-10">
<div *ngIf="student.accepted===true ; else elseBlock">
  <p><td> Total Credits : {{ getTotal() }}</td>
  <td class="is">Is Accepted</td>
</div>
<ng-template #elseBlock>
  <p><td class="not"> Total Credits : {{ getTotal() }}</td> <br>
  <td class="not">Is not Accepted</td>
</ng-template>
<br>

</div>
    </div>
  </div>
<b>A semester is valided for 20 ECTS</b>
<br>
<br>
<br>
</div>

<button (click)="list()" class="btn btn-primary">Back to Student List</button><br>

