h2 {
  font-weight: bold;
  font-size: 30px;
  color: #014336;
  text-decoration: underline;

}

h3 {
  font-weight: bold;
  font-size: 25px;
  color: #014336;
}

.state {
  font-weight: bold;
  text-decoration: underline;
}

.course {
  font-weight: bold;
}

body {
  font-size: 20px;
}

.title {
  color: #014336;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.mat {
  text-decoration: #48C9B0;
}

tbody {
  text-transform: capitalize;
}

.not {
  color: red;
  font-weight: bold;
}

.is {
  color: green;
  font-weight: bold;
}

.notacc {
  color: red;
  font-weight: bold;
}

.acc {
  color: green;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 8px;
}

.cadre {
  border-color: #922B21;
}



